<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Bootstrap Example</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--    <form th:object="${appUser}"  method="post" enctype="multipart/form-data">-->
<!--        <table class="table table-bordered">-->
<!--            <tbody >-->
<!--            <tr>-->
<!--                <td><input th:field="*{id}" readonly></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--                <td><input th:field="*{username}" readonly></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--                <td><input th:field="*{password}"></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--                <td><input th:field="*{email}"></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--                <td><input th:field="*{phone}"></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--                <td><input th:field="*{address}"></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--                <td><input th:field="*{dateOfBirthday}"></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--                <td><input th:field="*{repass}"></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--               <td><img th:src="${appUser.avatar}" width="100px" height="80px"></td>-->
<!--                <td><input th:field="*{avatar}" hidden></td>-->
<!--                <td><input type="file" name="upImg"></td>-->
<!--            <tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <select th:field="*{role}">-->
<!--                        <option th:each="role :${listRole}" th:value="${role.id}"-->
<!--                                th:text="${role.name}"></option>-->
<!--                    </select>-->
<!--                </td>-->

<!--            <tr>-->
<!--            <tr>-->
<!--                <td><button type="submit"  class="btn btn-warning">Update</button></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> <a href="/" class="btn btn-info">Back</a></td>-->
<!--                <td><a th:href="@{/delete/__${appUser.id}__}" class="btn btn-danger">Delete</a></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
    <!--  <div class="alert alert-success" role="alert" *ngIf="isUpdated">{{message}}</div>-->
    <div class="col-9">

        <form th:object="${appUser}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <!--                <label >Form Edit</label>-->
                <br>
                <img th:src="${appUser.avatar}" width="100px" height="80px">
                <input th:field="*{avatar}" hidden>
                <input type="file" name="upImg">
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Username</label>
                    <input type="text" class="form-control" th:field="*{username}">

                </div>
                <div class="form-group col-md-3">
                    <label>FullName</label>
                    <input type="text" class="form-control" th:field="*{fullname}">
                </div>
                <div class="form-group col-md-3">
                    <label>Address</label>
                    <input type="text" class="form-control" th:field="*{address}">
                </div>

                <div class="form-group col-md-3">
                    <label>Birthday</label>
                    <input type="date" class="form-control" th:field="*{dateOfBirthday}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" th:field="*{email}">
                </div>
                <div class="form-group col-md-3">
                    <label>PassWord</label>
                    <input type="text" class="form-control" th:field="*{password}">
                </div>
                <div class="form-group col-md-3">
                    <label>Repass</label>
                    <input type="text" class="form-control" th:field="*{repass}">
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Phone</label>
                    <input type="text" class="form-control" th:field="*{phone}">
                </div>
                <div class="form-group col-md-3">
                    <label>#</label>
                    <input type="text" class="form-control" th:field="*{id}" readonly>
                </div>
<!--                <div class="form-group col-md-3">-->
<!--                    <label>Role</label>-->
<!--                    <br>-->
<!--                    <select th:field="*{role}">-->
<!--                        <option th:each="role :${listRole}" th:value="${role.id}"-->
<!--                                th:text="${role.name}"></option>-->
<!--                    </select>-->

<!--                </div>-->
            </div>


            <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">UpDate
            </button>
            | <a href="/" class="btn btn-info">Back</a> |
            <a th:href="@{/delete/__${appUser.id}__}" class="btn btn-danger">Delete</a>
        </form>
    </div>
    <div class="col-3"></div>
</div>
</html>
