<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<!--<style>-->
<!--    body {-->
<!--        margin: 0;-->
<!--        padding: 0;-->
<!--        background-color: #17a2b8;-->
<!--        height: 100vh;-->
<!--    }-->

<!--    #login .container #login-row #login-column #login-box {-->
<!--        margin-top: 120px;-->
<!--        max-width: 600px;-->
<!--        height: 320px;-->
<!--        border: 1px solid #9C9C9C;-->
<!--        background-color: #EAEAEA;-->
<!--    }-->

<!--    #login .container #login-row #login-column #login-box #login-form {-->
<!--        padding: 20px;-->
<!--    }-->

<!--    #login .container #login-row #login-column #login-box #login-form #register-link {-->
<!--        margin-top: -85px;-->
<!--    }-->
<!--</style>-->
<!--<body>-->
<!--<div id="login">-->
<!--    <h3 class="text-center text-white pt-5">Signup form</h3>-->
<!--    <h6 class="text-center text-white pt-5"> Language: <a class="text-center text-white pt-5" href="?lang=en">English</a> | <a class="text-center text-white pt-5" href="?lang=vi">Việt Nam</a></h6>-->
<!--    <div class="container">-->
<!--        <div id="login-row" class="row justify-content-center align-items-center">-->
<!--            <div id="login-column" class="col-md-6">-->
<!--                <div id="login-box" class="col-md-12">-->
<!--                    <form id="login-form" class="form" th:object="${user}" th:action="@{/signup}" method="post"-->
<!--                          enctype="multipart/form-data">-->
<!--                        <table>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="username" class="text-info" th:text="#{username}"></label><br>-->
<!--                                        <input placeholder="nhập userName" id="username" th:field="*{username}"-->
<!--                                               class="form-control">-->
<!--                                        <p th:object="${username}"></p>-->


<!--                                    </div>-->
<!--                                </td>-->

<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="password" class="text-info" th:text="#{password}"></label><br>-->
<!--                                        <input placeholder="nhập passWord" id="password" th:field="*{password}"-->
<!--                                               class="form-control">-->
<!--                                        <p style="color: red" th:if="${#fields.hasErrors('password')}"-->
<!--                                           th:errors="*{password}"></p>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="email" class="text-info" th:text="#{email}"></label><br>-->
<!--                                        <input placeholder="nhập email" id="email" th:field="*{email}"-->
<!--                                               class="form-control">-->
<!--                                        <p style="color: red" th:if="${#fields.hasErrors('email')}"-->
<!--                                           th:errors="*{email}"></p>-->
<!--                                    </div>-->
<!--                                </td>-->

<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="phone" class="text-info" th:text="#{phone}"></label><br>-->
<!--                                        <input placeholder="nhập phone" id="phone" th:field="*{phone}"-->
<!--                                               class="form-control">-->
<!--                                        <p style="color: red" th:if="${#fields.hasErrors('phone')}"-->
<!--                                           th:errors="*{phone}"></p>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="address" class="text-info" th:text="#{address}"></label><br>-->
<!--                                        <input placeholder="nhập address" id="address" th:field="*{address}"-->
<!--                                               class="form-control">-->
<!--                                        <p style="color: red" th:if="${#fields.hasErrors('address')}"-->
<!--                                           th:errors="*{address}"></p>-->

<!--                                    </div>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="dateOfBirthday" class="text-info" th:text="#{dateOfBirthday}"></label><br>-->
<!--                                        <input type="date" placeholder="nhập dateOfBirthday" id="dateOfBirthday"-->
<!--                                               th:field="*{dateOfBirthday}" class="form-control">-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="repass" class="text-info" th:text="#{repass}"></label><br>-->
<!--                                        <input type="password" placeholder="nhập repass" id="repass"-->
<!--                                               th:field="*{repass}" class="form-control">-->
<!--                                        <p th:object="${message}"></p>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="fullname" class="text-info" th:text="#{fullname}"></label><br>-->
<!--                                        <input type="text" placeholder="nhập fullName" id="fullname"-->
<!--                                               th:field="*{fullname}" class="form-control">-->

<!--                                    </div>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <div class="form-group">-->
<!--                                        <input type="submit" name="submit" class="btn btn-info btn-md" value="Signup">-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <a href="/login" class="btn btn-info">Back</a>-->
<!--                                </td>-->

<!--                            </tr>-->

<!--                        </table>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .divider-text span {
        padding: 7px;
        font-size: 12px;
        position: relative;
        z-index: 2;
    }

    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 1;
    }

    .btn-facebook {
        background-color: #405D9D;
        color: #fff;
    }

    .btn-twitter {
        background-color: #42AEEC;
        color: #fff;
    }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <br>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via
                    facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <div th:if="${message}"><p style="color: red" th:text="${message}"></p></div>
            <form th:object="${user}" th:action="@{/signup}" method="post">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="username" class="form-control" placeholder="User name" type="text"
                           th:field="*{username}">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="fullname" class="form-control" placeholder="Full name" type="text" th:field="*{fullname}">
                    <p style="color: red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Email " type="email" th:field="*{email}">
                    <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <input name="phone" class="form-control" placeholder="Phone number" type="text" th:field="*{phone}">
                    <p style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <input name="address" class="form-control" placeholder=" Address" type="text" th:field="*{address}">
                    <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div> <!-- form-group end.// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" class="form-control" placeholder="Create password" type="password" th:field="*{password}">
                    <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="repass" class="form-control" placeholder="Repeat password" type="password" th:field="*{repass}">
                    <p th:object="${message}"></p>
                </div> <!-- form-group// -->
                <div class="form-group input-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="dateOfBirthday" class="form-control"  type="date" th:field="*{dateOfBirthday}">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create User</button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a href="/login">Log In</a></p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->

</html>
