<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <a href="/create" class="btn btn-success">Add New</a>
    <form action="/findByName" method="get">
        <input type="text" class="form-control" placeholder="search" name="findName">
        <button type="submit" class="btn btn-success">Find</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>UserName</th>
            <th>PassWord</th>
            <th>Role</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.passWord}"></td>
            <td th:text="${user.role.name}"></td>

            <td><a th:href="@{/view/__${user.id}__}" class="btn btn-info">View</a></td>
            <td><a th:href="@{/edit/__${user.id}__}" class="btn btn-warning">Edit</a></td>
            <td><a th:href="@{/delete/__${user.id}__}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>