<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container"  th:object="${user}">

    <table class="table table-bordered">
        <tr>
            <td><input th:field="*{id}" readonly></td>
            <td><input th:field="*{username}" readonly></td>
            <td><input th:field="*{password}" readonly></td>
            <td><input th:field="*{email}" readonly></td>
            <td><input th:field="*{phone}" readonly></td>
        </tr>
        <tr>
            <td><input th:field="*{address}" readonly></td>
            <td><input th:field="*{dateOfBirthday}" readonly></td>
            <td><input th:field="*{repass}" readonly></td>
            <td><img th:src="@{'/upload/'+${user.avatar}}" width="100px" height="70px"></td>
            <td><input th:field="*{role.name}" readonly></td>

        </tr>
        <tr>
            <td><a th:href="@{/edit/__${user.id}__}" class="btn btn-warning">Edit</a></td>
            <td><a th:href="@{/delete/__${user.id}__}" class="btn btn-danger">Delete</a></td>
            <td> <a href="/" class="btn btn-info">Back</a></td>
        </tr>
    </table>

</div>

</body>
</html>