<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="c, loop: ${friendList}">
    <table border="1">
        <tr>
            <th>Name</th>
            <td th:text="${c.username}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${c.address}"></td>
        </tr>
        <tr>
            <th>gmail</th>
            <td th:text="${c.email}"></td>
        </tr>
        <tr>
            <th>phone</th>
            <td th:text="${c.phone}"></td>
        </tr>
        <tr>
            <th>date</th>
            <td th:text="${c.dateOfBirthday}"></td>
        </tr>

    </table>
    <a th:href="@{/fr/deleteFriend/{id}(id = ${c.id})}">huy ket ban</a>

</div>
<a th:href="@{/fr/home}">back home</a>
</body>
</html>