<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Group</h1>
<form action="/gr/createGroup" method="post" th:object="${create}">
    <table border="1">
        <tr>
            <th>Name Group</th>
            <td><input th:field="*{nameGroup}"></td>
        </tr>
        <tr>
            <th>Group Type</th>
            <td>
                <select th:field="*{typeGroup}">
                <option th:each="class :${groupType}" th:value="${class.id}" th:text="${class.type}"></option>
            </select>
            </td>
        </tr>
    </table>
    <button type="submit">create</button>
</form>
</body>
</html>